*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: rgba(95, 229, 229, 0.763);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
nav{
    background-color: black;
    color: white;
    width: 100%;
    height: 54px;
}
.one,.two{
    display: inline-block;
    padding-top: 10px;
}
.two{
    margin-left: 718px;
}
.head{
    color: rgba(0, 0, 0, 0.811);
    display: inline;
}
.list li{
    color: rgba(14, 14, 16, 0.811);
    display: inline;
}
ul{
    display: inline;
    margin-left: 66%;
}
li{
    padding: 15px;
}
.img{
    width: 300px;
    float: left;
    padding-left: 73%;
    padding-top: 46px;
}
.h1{
    margin-left: 11%;
    color: black;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    display: inline;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 39px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}